/* HOME PAGE */
    /* HEADER SUPPORT */ 

#logo IMG {
    max-width: 252px
}

#customizedTitle {
	color:white; margin-top:10px; font-size:3em; font-family:times-roman;
}

#header-main {
	 /* border-bottom: 5px solid #fcba19;  margin-bottom:0px;  #fcba19 */
}

/* HEADER SUPPORT - END*/ 

#topicTemplate {} /* margin-top: 100px; */


    /* FOOTER SUPPORT */

/* END Home Page */


/* SPLASH PAGE */

#splashbody {
    background-color:white;
    max-width: 1024px;
    margin:auto;
    
}

#splashheader {
    width: 100%;
    height: 250px;
    padding: 50px;
    background: url(../img/ministry1.png) top center no-repeat; 
    background-size: cover;
}

#logo {
    left-margin:auto;right-margin:auto;width:50%; min-width:300px;
}

#content {
    padding-top:10px;
    /* min-height:400px; */
}

#featurerow {background-color:#003366; padding-top:8px;}
.featurebox {
    /* height: 200px; 
    border: 1px solid #666; */
    background-color:#003366;
    color:white;
    
} 

.featurebox H3{
    color:white;
}

#featurerow .featurebox {padding:3px;}

.featurebox IMG {width:100%;min-height:88px; max-width:355px;}

.blue-heading-bar {
background: #003366; /* Old browsers */
background: -moz-linear-gradient(top, #003366 0%, #2989d8 100%, #003366 100%, #003366 100%, #2989d8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #003366 0%,#2989d8 100%,#003366 100%,#003366 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #003366 0%,#2989d8 100%,#003366 100%,#003366 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
copy
Color format:     Comments
}