/* HEADER SUPPORT */ 

#logo IMG {
    height: 65px;
}

#customizedTitle {
	color:white; margin-top:10px; font-size:3em; font-family:times-roman;
}

#header-main {
	 /* border-bottom: 5px solid #fcba19;  margin-bottom:0px;  #fcba19 */
}

/* HEADER SUPPORT - END*/ 

#topicTemplate {} /* margin-top: 100px; */


/* FOOTER SUPPORT */

